.orderselect-ctn
    .orderselect-header
    .orderselect-ctn
        select
            option(value='maxImportant') M치s relevantes
            option(value='maxStars') M치s estrellas
            option(value='minStars') Menos esrellas
            option(value='maxPrice') Precios m치s altos
            option(value='minPrice') Precios m치s baratos
        p Ordenar